In [1]:
# 파일다루기

In [1]:
# 파일 ----- 정보를 저장하는 기본 단위

In [2]:
# 파일 처리 순서
# 1. 파일을 연다
#  -  옵션을 줄 수 있음
#     새로 생성, 있으면 안 열기, 기존 파일에 추가 작성(Append), 읽기
#     권한으로만 열기, 읽기쓰기 권한으로 열기
# 2. 파일을 읽는다 / 쓴다
#  -  이진파일(이미지, 실행파일) - 1개씩(char a) 읽어서 어느 정도 
#     크기 만큼(buffer) 모아서 작업
#  -  문서파일
#     개행문자 단위(한 줄)씩 읽어서 작업
# 3. 파일을 닫는다
#     더 이상 할 작업이 없는 경우 반드시 닫아야 함
#     열어 두면 다른 프로그램(프로세서)가 작업할 수 없음

In [20]:
f=0
try:
    f=open("LICENSE.txt","rt")
    while True:
        r=f.readline()
        if not r:
            break
        print(r)
except FileNotFoundError:
    print("파일없음")
    
finally:
    if(f): f.close()
    print("프로그램 끝")

파일없음
프로그램 끝

In [25]:
# 100명의 국어,영어,수학 점수를 임의로 만든 후 csv형태의 파일의 기록하는 예제
import random as r
f=0
f=open("score.txt","wt")
for i in range(100):
    one_person = "홍길동" + str(i)+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+ ","+str(r.randrange(0,100))+"\n"
    f.write(one_person)
    print(one_person)
f.close()

홍길동0,74,31,71

홍길동1,89,79,14

홍길동2,65,42,18

홍길동3,7,72,25

홍길동4,91,65,26

홍길동5,62,65,71

홍길동6,36,89,6

홍길동7,68,30,43

홍길동8,47,70,83

홍길동9,8,98,24

홍길동10,70,54,27

홍길동11,11,85,83

홍길동12,35,3,97

홍길동13,60,86,59

홍길동14,53,97,33

홍길동15,33,12,69

홍길동16,92,70,95

홍길동17,8,35,13

홍길동18,29,46,53

홍길동19,0,50,8

홍길동20,24,46,66

홍길동21,85,99,24

홍길동22,70,13,10

홍길동23,46,31,51

홍길동24,63,92,91

홍길동25,64,83,71

홍길동26,28,15,96

홍길동27,98,31,2

홍길동28,26,72,67

홍길동29,93,35,50

홍길동30,0,95,16

홍길동31,26,32,56

홍길동32,59,56,93

홍길동33,23,61,94

홍길동34,91,35,42

홍길동35,44,74,64

홍길동36,97,91,16

홍길동37,38,87,12

홍길동38,23,45,0

홍길동39,61,7,97

홍길동40,90,43,80

홍길동41,79,10,49

홍길동42,34,91,51

홍길동43,46,39,64

홍길동44,14,5,14

홍길동45,5,23,40

홍길동46,32,68,45

홍길동47,84,31,17

홍길동48,55,68,58

홍길동49,89,58,74

홍길동50,34,60,48

홍길동51,35,42,43

홍길동52,61,25,99

홍길동53,41,71,2

홍길동54,68,92,66

홍길동55,77,36,16

홍길동56,89,51,33

홍길동57,33,28,24

홍길동58,36,34,28

홍길동59,79,20,34

홍길동60,93,30,77

홍길동61,97,36,80

홍길동62,60,9,14

홍길동63,41,81,82

홍길동64,64,67,39

홍길동65,53,73,59

홍길동66,96,74,4

홍길동67,57,32,29

홍길동68,72,5,10

홍길동69,27,49,21

홍길동70,77,35,42

홍길동71,27,66,31

홍길동72,58,40,69

홍길동73,73,18,47

홍길동74,25,53,79

홍길동75,33,42,13

홍길동76,38,64,20

홍길동77,28,91,16

홍길동78,58,28,81

홍길동79,61,61,13

홍길동80,19,13,2

홍길동81,7,25,86

홍길동82,57,33,59

홍길동83,9,70,45

홍길동84,74,4,24

홍길동85,40,6,28

홍길동86,61,12,35

홍길동87,80,57,40

홍길동88,66,30,88

홍길동89,47,57,80

홍길동90,35,80,96

홍길동91,31,30,32

홍길동92,18,44,63

홍길동93,22,65,44

홍길동94,78,68,16

홍길동95,48,71,92

홍길동96,98,71,5

홍길동97,8,23,84

홍길동98,11,35,87

홍길동99,79,6,77

In [26]:
f=0
f=open("score.txt","rt")
while True:
    one_person=f.readline() #한 줄씩 읽는다
    if not one_person: break #읽을 내용이 없으면 루프탈출
    one_person=one_person.replace("\n","") #줄 바꿈문자 없애기
    item=one_person.split(",") #콤마 구분자로 짜르기
    print("="*10)
    print("이름: ", item[0])
    print("국어: ", item[1])
    print("영어: ", item[2])
    print("수학: ", item[3])
    print("="*10)
f.close()

==========
이름:  홍길동0
국어:  74
영어:  31
수학:  71
==========
==========
이름:  홍길동1
국어:  89
영어:  79
수학:  14
==========
==========
이름:  홍길동2
국어:  65
영어:  42
수학:  18
==========
==========
이름:  홍길동3
국어:  7
영어:  72
수학:  25
==========
==========
이름:  홍길동4
국어:  91
영어:  65
수학:  26
==========
==========
이름:  홍길동5
국어:  62
영어:  65
수학:  71
==========
==========
이름:  홍길동6
국어:  36
영어:  89
수학:  6
==========
==========
이름:  홍길동7
국어:  68
영어:  30
수학:  43
==========
==========
이름:  홍길동8
국어:  47
영어:  70
수학:  83
==========
==========
이름:  홍길동9
국어:  8
영어:  98
수학:  24
==========
==========
이름:  홍길동10
국어:  70
영어:  54
수학:  27
==========
==========
이름:  홍길동11
국어:  11
영어:  85
수학:  83
==========
==========
이름:  홍길동12
국어:  35
영어:  3
수학:  97
==========
==========
이름:  홍길동13
국어:  60
영어:  86
수학:  59
==========
==========
이름:  홍길동14
국어:  53
영어:  97
수학:  33
==========
==========
이름:  홍길동15
국어:  33
영어:  12
수학:  69
==========
==========
이름:  홍길동16
국어:  92
영어:  70
수학:  95
==========
==========
이름:  홍길동17
국어:  8
영어:  35
수학:  13
==========
==========
이름:  홍길동18
국어:  29
영어:  46
수학:  53
==========
==========
이름:  홍길동19
국어:  0
영어:  50
수학:  8
==========
==========
이름:  홍길동20
국어:  24
영어:  46
수학:  66
==========
==========
이름:  홍길동21
국어:  85
영어:  99
수학:  24
==========
==========
이름:  홍길동22
국어:  70
영어:  13
수학:  10
==========
==========
이름:  홍길동23
국어:  46
영어:  31
수학:  51
==========
==========
이름:  홍길동24
국어:  63
영어:  92
수학:  91
==========
==========
이름:  홍길동25
국어:  64
영어:  83
수학:  71
==========
==========
이름:  홍길동26
국어:  28
영어:  15
수학:  96
==========
==========
이름:  홍길동27
국어:  98
영어:  31
수학:  2
==========
==========
이름:  홍길동28
국어:  26
영어:  72
수학:  67
==========
==========
이름:  홍길동29
국어:  93
영어:  35
수학:  50
==========
==========
이름:  홍길동30
국어:  0
영어:  95
수학:  16
==========
==========
이름:  홍길동31
국어:  26
영어:  32
수학:  56
==========
==========
이름:  홍길동32
국어:  59
영어:  56
수학:  93
==========
==========
이름:  홍길동33
국어:  23
영어:  61
수학:  94
==========
==========
이름:  홍길동34
국어:  91
영어:  35
수학:  42
==========
==========
이름:  홍길동35
국어:  44
영어:  74
수학:  64
==========
==========
이름:  홍길동36
국어:  97
영어:  91
수학:  16
==========
==========
이름:  홍길동37
국어:  38
영어:  87
수학:  12
==========
==========
이름:  홍길동38
국어:  23
영어:  45
수학:  0
==========
==========
이름:  홍길동39
국어:  61
영어:  7
수학:  97
==========
==========
이름:  홍길동40
국어:  90
영어:  43
수학:  80
==========
==========
이름:  홍길동41
국어:  79
영어:  10
수학:  49
==========
==========
이름:  홍길동42
국어:  34
영어:  91
수학:  51
==========
==========
이름:  홍길동43
국어:  46
영어:  39
수학:  64
==========
==========
이름:  홍길동44
국어:  14
영어:  5
수학:  14
==========
==========
이름:  홍길동45
국어:  5
영어:  23
수학:  40
==========
==========
이름:  홍길동46
국어:  32
영어:  68
수학:  45
==========
==========
이름:  홍길동47
국어:  84
영어:  31
수학:  17
==========
==========
이름:  홍길동48
국어:  55
영어:  68
수학:  58
==========
==========
이름:  홍길동49
국어:  89
영어:  58
수학:  74
==========
==========
이름:  홍길동50
국어:  34
영어:  60
수학:  48
==========
==========
이름:  홍길동51
국어:  35
영어:  42
수학:  43
==========
==========
이름:  홍길동52
국어:  61
영어:  25
수학:  99
==========
==========
이름:  홍길동53
국어:  41
영어:  71
수학:  2
==========
==========
이름:  홍길동54
국어:  68
영어:  92
수학:  66
==========
==========
이름:  홍길동55
국어:  77
영어:  36
수학:  16
==========
==========
이름:  홍길동56
국어:  89
영어:  51
수학:  33
==========
==========
이름:  홍길동57
국어:  33
영어:  28
수학:  24
==========
==========
이름:  홍길동58
국어:  36
영어:  34
수학:  28
==========
==========
이름:  홍길동59
국어:  79
영어:  20
수학:  34
==========
==========
이름:  홍길동60
국어:  93
영어:  30
수학:  77
==========
==========
이름:  홍길동61
국어:  97
영어:  36
수학:  80
==========
==========
이름:  홍길동62
국어:  60
영어:  9
수학:  14
==========
==========
이름:  홍길동63
국어:  41
영어:  81
수학:  82
==========
==========
이름:  홍길동64
국어:  64
영어:  67
수학:  39
==========
==========
이름:  홍길동65
국어:  53
영어:  73
수학:  59
==========
==========
이름:  홍길동66
국어:  96
영어:  74
수학:  4
==========
==========
이름:  홍길동67
국어:  57
영어:  32
수학:  29
==========
==========
이름:  홍길동68
국어:  72
영어:  5
수학:  10
==========
==========
이름:  홍길동69
국어:  27
영어:  49
수학:  21
==========
==========
이름:  홍길동70
국어:  77
영어:  35
수학:  42
==========
==========
이름:  홍길동71
국어:  27
영어:  66
수학:  31
==========
==========
이름:  홍길동72
국어:  58
영어:  40
수학:  69
==========
==========
이름:  홍길동73
국어:  73
영어:  18
수학:  47
==========
==========
이름:  홍길동74
국어:  25
영어:  53
수학:  79
==========
==========
이름:  홍길동75
국어:  33
영어:  42
수학:  13
==========
==========
이름:  홍길동76
국어:  38
영어:  64
수학:  20
==========
==========
이름:  홍길동77
국어:  28
영어:  91
수학:  16
==========
==========
이름:  홍길동78
국어:  58
영어:  28
수학:  81
==========
==========
이름:  홍길동79
국어:  61
영어:  61
수학:  13
==========
==========
이름:  홍길동80
국어:  19
영어:  13
수학:  2
==========
==========
이름:  홍길동81
국어:  7
영어:  25
수학:  86
==========
==========
이름:  홍길동82
국어:  57
영어:  33
수학:  59
==========
==========
이름:  홍길동83
국어:  9
영어:  70
수학:  45
==========
==========
이름:  홍길동84
국어:  74
영어:  4
수학:  24
==========
==========
이름:  홍길동85
국어:  40
영어:  6
수학:  28
==========
==========
이름:  홍길동86
국어:  61
영어:  12
수학:  35
==========
==========
이름:  홍길동87
국어:  80
영어:  57
수학:  40
==========
==========
이름:  홍길동88
국어:  66
영어:  30
수학:  88
==========
==========
이름:  홍길동89
국어:  47
영어:  57
수학:  80
==========
==========
이름:  홍길동90
국어:  35
영어:  80
수학:  96
==========
==========
이름:  홍길동91
국어:  31
영어:  30
수학:  32
==========
==========
이름:  홍길동92
국어:  18
영어:  44
수학:  63
==========
==========
이름:  홍길동93
국어:  22
영어:  65
수학:  44
==========
==========
이름:  홍길동94
국어:  78
영어:  68
수학:  16
==========
==========
이름:  홍길동95
국어:  48
영어:  71
수학:  92
==========
==========
이름:  홍길동96
국어:  98
영어:  71
수학:  5
==========
==========
이름:  홍길동97
국어:  8
영어:  23
수학:  84
==========
==========
이름:  홍길동98
국어:  11
영어:  35
수학:  87
==========
==========
이름:  홍길동99
국어:  79
영어:  6
수학:  77
==========

In [27]:
# 데이터베이스 기초

In [29]:
# 데이터베이스
#  - 관련 있는 데이터의 저장소
#  - 여러 사람이나 응용시스템에 의해 참조가능하도록
#    서로 논리적으로 연관되어 통합 관리되는 데이터의 모임

# 여러개의 테이블을 포함한 개념

In [30]:
# 데이터 베이스와 데이터베이스 시스템
# DB(data base)
#  실 세계의 정보들(회원목록, 도서목록, 비디오목록 등...)
#  정보를 다루는 개념, 이론적인 사항

# DBMS(data base management system)
#   Database의 소프트웨어 및 하드웨어 시스템
#   데이터베이스를 관리해 주는 시스템
#   시스템 내의 데이터베이스 개념으로 데이터를 관리할 수 있도록 구성된 소프트웨어

In [31]:
create table examtable(\
                       name varchar(20),\
                       studentid int not null primary key,\
                       kor int,\
                       eng int,\
                       mat int);

SyntaxError: invalid syntax (Temp/ipykernel_9920/122269696.py, line 1)

In [50]:
import sqlite3 as s
con=s.connect("mydata.db")
cursor = con.cursor()


cursor.execute("\
create table examtable(\
               name varchar(20),\
               studentid int not null primary key,\
               kor int,\
               eng int,\
               mat int)\
                   ")

con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close()
con.close()

OperationalError: table examtable already exists

In [53]:
import sqlite3 as s
con=s.connect("mydata.db")
cursor = con.cursor()
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);") #테이블내 레코드 삽입
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")con.commit()
cursor.close()
con.close()

SyntaxError: invalid syntax (Temp/ipykernel_9920/2217554950.py, line 5)